@use "../../styles/partials/variables" as v;
@use "../../styles/partials/mixins" as m;
@use "../../styles/partials/breakpoints" as bp;

.wallet-details {
  text-align: center;

  &__columns {
    display: flex;
    justify-content: space-evenly;
    &-column {
      display: flex;
      flex-direction: column;
    }
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__icon {
    max-width: 2rem;
  }
}
