@use "./partials/variables" as v;
// @use './partials/fonts' as f;
@use "./partials/mixins" as m;
@use "./partials/breakpoints" as bp;
@use "./partials/buttons";

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App {
  z-index: -1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // background-color: #f7f8f9;
  // font-family: "Press Start 2P", cursive;
  font-family: "Roboto Mono", monospace;
  line-height: 1.5rem;

  background: linear-gradient(-45deg, v.$primary-color, v.$tertiary-color);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  &.address-linked {
    background: v.$primary-color !important;
    background-size: unset !important;
    animation: unset !important;
  }
}

.section {
  border-bottom: 1px solid v.$secondary-color;
  padding: 2rem 0;
  width: 100%;
  &:last-child {
    border-bottom: none;
  }
}
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem;
  text-align: left;
  // font-family: "Press Start 2P", cursive;
  @include bp.medium {
    padding: 0 15%;
  }
  @include bp.large {
    padding: 0 25%;
  }
}

.green {
  color: v.$primary-color;
}

.logo-wrap-full {
  display: flex;
  justify-content: center;
  @include bp.medium {
    display: flex;
    justify-content: flex-end;
  }
  img {
    max-width: 80%;
  }
}

.gradient-bg {
  background: v.$primary-color;
  background: linear-gradient(
    90deg,
    v.$primary-color 0%,
    v.$secondary-color 100%
  );
  .content__title {
    color: #fff !important;
  }
  color: #fff !important;
  a {
    color: v.$fourthiary-color;
  }
}

.bold {
  font-weight: 700;
}
